@import './vars.styl';

.threshold-editor {
  padding-right: 30px;
  position: relative;

  input, select {
    outline: none;
  }

  ul, li, p, h1, div, span, i, a {
    font-size: 12px;
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
  }

  .threshold-editor__row {
    [class*=threshold-editor__col-] {
      float: left;
      min-height: 21px;

      &.has-vertical-line {
        border-right: 1px dotted #c3c2c2;
      }
    }

    &:before, &:after {
      content: '';
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  for col in 1...gridColumns + 1 {
    .threshold-editor__col-{col} {
      width: unit(col / gridColumns * 100, '%');
    }
  }

  .threshold-editor__body {
    position: relative;
  }

  .threshold-editor__header {
    line-height: 21px;
    margin-left: 10px;

    &>div {
      padding-left: 11px;
      textEllipsis();
    }
  }

  .threshold-editor__control {
    margin: 5px 0;
    position: relative;
    z-index: 1;
  }

  .threshold-editor__button {
    height: 24px;
    line-height: 22px;
    border: 1px solid #cccccc;
    background: #daeff6;
    text-indent: 12px;
    display: block;
    text-decoration: none;
    color: #aaaaaa;

    &:hover {
      color: darken(#aaaaaa, 50%);
    }
  }

  .threshold-editor__list {
    line-height: 30px;
    margin-left: 10px;
    position: relative;

    div.threshold-editor__list--padding {
      padding: 0 11px;
      textEllipsis();
    }

    .threshold-editor__list--occupy-container {
      .threshold-editor__list--occupy {
        background: white;
        position: absolute;
        width: 20%;
        top: 0;
        bottom: -1px;

        &.is-allday {
          z-index: 1;
        }
      }

      [class*=threshold-editor__col] {
        padding: 0 11px;
        textEllipsis();
      }
    }

    b {
      color: #777777;
    }

    select, input {
      width: 100%;
      border: none;
      border-bottom: 1px dotted #ccc;
      height: 21px;
      background: transparent;
      font-weight: 600;
    }

    input {
      position: relative;
      top: -1px;
    }

    .threshold-editor__note {
      position: relative;
      line-height: 21px;
      height: 21px;
      border-radius: 2px;
      color: white;
      display: inline-block;
      padding: 0 4px;
      width: 100%;
      text-align: center;

      i {
        width: 16px;
        height: 17px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 8px;
        top: 4px;
      }

      for key, value in trigger-colors {
        &.threshold-editor__note--{key} {
          {value};
        }
      }
    }
  }

  .threshold-editor__single-rules {
    position: relative;
    padding-bottom: 2px;

    .threshold-editor__color-tab {
      position: absolute;
      left: 0;
      width: 10px;
      top: 1px;
      bottom: 1px;

      for key, value in colors {
        &.{key} {
          background: value;
        }
      }
    }

    &:hover {
      background: #efefef;

      .threshold-editor__list--occupy {
        background: #efefef;
      }
    }

    &.threshold-editor__single-rules--active {
      background: #daeff6;
      padding: 2px 0 4px 0;

      .threshold-editor__list--occupy {
        background: #daeff6;

        &.is-allday {
          top: -2px;
          bottom: -4px;
          border-top: 2px solid #56b6d9;
          border-bottom: 2px solid #56b6d9;
        }
      }

      .threshold-editor__color-tab {
        top: 3px;
        bottom: 3px;
      }

      &:before, &:after {
        position: absolute;
        width: 100%;
        content: '';
        display: block;
        background: #56b6d9;
        height: 2px;
        left: 0;
      }

      &:before {
        top: 0px;
      }

      &:after {
        bottom: 0px;
      }
    }
  }

  .threshold-editor__threshold-container {
    position: relative;

    .threshold-editor__threshold__value {
      margin-right: 160px;
    }

    .threshold-editor__threshold__tip {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
    }
  }

  .threshold-editor__delete {
    position: absolute;
    right: -30px;
    top: 5px;
    width: 27px;
    height: 25px;
    background: #cccccc url('./img/delete.png') no-repeat center;
    border-bottom: 2px solid #5c5c5c;
    opacity: 0.8;
    border-radius: 3px;

    &:hover {
      opacity: 1;
    }
  }

  .threshold-editor__split {
    float: right;

    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0px;
      width: 0;
      border-right: 1px dotted #ccc;
    }
  }

  .threshold-editor__timeline {
    margin-top: 24px;
    height: 54px;
    position: relative;

    .threshold-editor__time-panel {
      font-size: 0;

      span {
        display: inline-block;
        line-height: 1;
        vertical-align: top;
        width: unit((100 / 12), '%');
        font-size: 9px;
        color: #777777;
        text-align: right;

        &:after {
          position: absolute;
          top: 0px;
          bottom: 0px;
          content: '';
          width: 1px;
          background: #ccc;
        }
      }
    }

    .threshold-editor__timebar-container {
      position: absolute;
      top: 14px;
      width: 100%;

      .threshold-editor__timebar {
        position: absolute;
        height: 34px;
        top: 0;
        border: 1px solid #ffffff;

        &.is-allday {
          height: 16px;
          top: 9px;
          border: 1px solid #cccccc;
        }

        for key, value in colors {
          &.{key} {
            background: value;

            &.is-editing {
              border-color: value;
              box-shadow: 0 0 8px value - 20%;
            }
          }
        }

        .threshold-editor__timebar__child {
          position: absolute;
          height: 34px;
          top: 0;
          border: 1px solid #ffffff;
        }

        &.is-across-the-day {
          border: none;
          background: none !important;
          left: -1px;
          right: -1px;

          for key, value in colors {
            &.{key} {
              &.is-editing {
                border-color: none;
                box-shadow: none;
              }

              .threshold-editor__timebar__child {
                background: value;
              }

              &.is-editing .threshold-editor__timebar__child {
                border-color: value;
                box-shadow: 0 0 8px value - 20%;
              }
            }
          }
        }
      }
    }
  }
}
